extend layout.pug 
block body 
    style 
        include ../public/errorStyle.css
    figure
        .sad-mac
        figcaption
            span.sr-text Error 404: Not Found
            span.e
            span.r
            span.r
            span.o
            span.r
            span._4
            span._0
            span._4
            span.n
            span.o
            span.t
            span.f
            span.o
            span.u
            span.n
            span.d
